[Unit]
SourcePath=/etc/initscripts/data-init
Description= data-init service

[Service]
Restart=no
# This service file has no binary and it is to execute the list of commands in <script>.
# Use Script file only when there is NO binary or commands to be executed/ modules to be installed cases
ExecStart=/etc/initscripts/data-init

[Install]
WantedBy=multi-user.target
