[Unit]
SourcePath=/usr/sbin/wpa_supplicant
Description= WPA Supplicant service

[Service]
Type=forking
EnvironmentFile=/var/run/data/wpa_supplicant_options.conf
ExecStart=/etc/initscripts/start_qcmap_wpa_supplicant_le /var/run/data/wpa_supplicant_options.conf
ExecStop=/bin/kill -15 $MAINPID
