[Unit]
Description= Quectel Voice Service
SourcePath=/usr/bin/ql_voiced
Requires=postmss.service
After=postmss.service

[Service]
User=root
Group=root
Restart=no
ExecStart=/usr/bin/ql_voiced

SupplementaryGroups=diag inet net_admin system netdev net_raw kmsg audio
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID

[Install]
WantedBy=multi-user.target
