[Unit]
SourcePath=/usr/bin/qmuxbridge
Description=Qmuxbridge Service
After=mount-data.service

[Service]
Restart=always
ExecStart=/usr/bin/qmuxbridge
User=radio
Group=radio
SupplementaryGroups=diag system kmsg wakelock

[Install]
WantedBy=multi-user.target