# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=Qseecomd Service
SourcePath=/etc/initscripts/qseecomd

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/initscripts/qseecomd start
ExecStop=/etc/initscripts/qseecomd stop

[Install]
WantedBy=local-fs.target
