[Unit]
Description=Bind mount volatile /etc/data/
DefaultDependencies=no
After=systemrw.mount sockets.target
Before=basic.target
RequiresMountsFor=/etc/data
ConditionPathIsReadWrite=/systemrw
ConditionPathExists=/etc/data/
ConditionPathIsReadWrite=!/etc/data/

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=/sbin/mount-copybind /systemrw/data /etc/data/
ExecStop=/sbin/umount-copybind /etc/data/

[Install]
WantedBy=basic.target
