[Unit]
Description=Bind mount volatile /etc/misc/wifi/
DefaultDependencies=no
After=systemrw.mount sockets.target
Before=basic.target
RequiresMountsFor=/etc/misc/wifi
ConditionPathIsReadWrite=/systemrw/misc
ConditionPathExists=/etc/misc/wifi/
ConditionPathIsReadWrite=!/etc/misc/wifi/

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=/sbin/mount-copybind /systemrw/misc/wifi /etc/misc/wifi/
ExecStop=/sbin/umount-copybind /etc/misc/wifi/

[Install]
WantedBy=basic.target
