[Unit]
Description=Bind mount volatile /etc/data/miniupnpd/
DefaultDependencies=no
After=systemrw.mount sockets.target
Before=basic.target
RequiresMountsFor=/etc/data/miniupnpd
ConditionPathIsReadWrite=/systemrw/data
ConditionPathExists=/etc/data/miniupnpd/
ConditionPathIsReadWrite=!/etc/data/miniupnpd/

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=/sbin/mount-copybind /systemrw/data/miniupnpd /etc/data/miniupnpd/
ExecStop=/sbin/umount-copybind /etc/data/miniupnpd/

[Install]
WantedBy=basic.target
