[Unit]
Description=Bind mount volatile /etc/data/ipa/
DefaultDependencies=no
After=systemrw.mount sockets.target
Before=basic.target
RequiresMountsFor=/etc/data/ipa
ConditionPathIsReadWrite=/systemrw/data
ConditionPathExists=/etc/data/ipa/
ConditionPathIsReadWrite=!/etc/data/ipa/

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=/sbin/mount-copybind /systemrw/data/ipa /etc/data/ipa/
ExecStop=/sbin/umount-copybind /etc/data/ipa/

[Install]
WantedBy=basic.target
