[Unit]
Description= tinyproxy service
SourcePath=/usr/sbin/tinyproxy


[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/sbin/tinyproxy -c /etc/data/tinyproxy.conf
ExecStop=/usr/bin/killall -15 tinyproxy
